pandas
numpy
tensorflow==2.12.0
matplotlib
seaborn
nltk
regex
scikit-learn
from-root
google-cloud-storage
fastapi
uvicorn
Jinja2
dvc
mlflow==2.7.1
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
flake8
autopep8
expecttest
hypothesis
pytest
mypy
dagshub
-e .